
<div class="main__banner">
<div class="banner__container">
        <div class="col s6 center-align"><a href="/login" class="waves-effect waves-light btn-large btn-main">Login</a></div>
        <div class="col s6 center-align"><a href="/register" class="waves-effect waves-light btn-large btn-main">Register</a></div>
</div>
</div>

