<h3>Schedules App</h3>
<h6>Welcome to our schedule management system </h6>
<div class="row margin">
    <a href="/new" id="add_btn" class="btn-floating btn-large waves-effect waves-light light-blue darken-3 tooltipped" data-position="bottom" data-tooltip="I am a tooltip"><i class="fas fa-plus"></i></a>
</div>

<table class="striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Day</th>
                <th>Time</th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each allSchedulesData}}
                <tr>
                    <td><a href="" class=""></a>{{user_name}}</td>
                    <td>{{ showDays day}}</td>
                    <td>{{start_time}} : {{end_time}}</td>
                    <td>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>

